

 .stellagraphy_logo {
    font-family: 'Sedan', serif;
    font-weight: bold;
 }

.stellagraphy_footer_button {
    font-size: .6rem;
}

.stellagraphy_footer {
    text-align: center;
    margin-top: 2rem;
}

.stellagraphy_header {
    text-align: center;
    margin: 2rem 0;
}









